@font-face {
font-family: "Graphik";
src: url("fonts/Graphik-Medium-Web.eot");
src:
url("fonts/Graphik-Medium-Web.woff") format("woff"),
url("fonts/Graphik-Medium-Web.otf") format("opentype"),
url("fonts/Graphik-Medium-Web.svg#filename") format("svg");
}

body {
  background-color: #000;
  color: #fff;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
}

.sidebar{
padding-top: 50px;
position:fixed;
max-width: 10%;
}

.image-data{
  max-width: 100%;
}

#data, #intro, #interaction, #demo {
  margin-bottom: 100px;
  padding-top: 50px;
}

.carousel {
  padding-bottom: 15px;
}

h4{
  font-family: "Graphik", sans serif;
  text-transform: uppercase;
}

h5{
  padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

h3{
  font-family: "Graphik", sans serif;
  text-transform: uppercase;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
